################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Billing.Api
/Billing.Infrastructure/obj
/Billing.Api/obj
/Billing.Infrastructure/bin/Debug/net5.0
/Billing.Data.Models/obj
/Billing.Data/obj
/Billing.Api/Billing.Api.csproj.user
/Billing.Data/bin/Debug/net5.0
/Billing.Data.Models/bin/Debug/net5.0
/Billing.Api/bin/Debug/net5.0
/Billing.Api/logs
/Billing.Infrastructure.Tests/obj
/Billing.Infrastructure.Tests/bin/Debug/net5.0
/Billing.Tests.Common/obj
/Billing.Tests.Common/bin/Debug/net5.0
