################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Billing.Api
/Billing.Infrastructure/obj
/Billing.Api/obj
/Billing.Infrastructure/bin/Debug/net5.0
